

header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.logo{
 width: 300px;
}

ul{
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;
 align-items: center;
 list-style: none;
 padding: 0px;
}

 .list2{
 padding:0 150px;
}